@import "../../styles/_defaults.scss";

.container {
  @media (min-width: 400px) {
    display: flex;
    justify-content: flex-start;
  }
  margin-top: 10px;
  width: 100vw;
  border: 2px solid;
  border-radius: 25px;
}

.calculator {
  @media (min-width: 400px) {
    width: calc(100% - 120px);
  }
  width: auto;
  border: 2px solid;
  border-radius: 25px;
  margin: 10px;
}
.banner {
  @media (min-width: 400px) {
    min-width: 120px;
  }
  @media (max-width: 400px) {
    width: calc(100% - 20px);
    height: auto;
  }
  height: 370px;
  border-radius: 15px;
  margin: 10px;
}
