<mat-drawer-container class="main-container" autosize>
  <mat-drawer #drawer class="main-sidenav" mode="over">
    <mat-nav-list>
      <mat-toolbar class="toolbar">
        <div class="branding">
          <img [src]="logo" />
          <span>{{ title }}</span>
        </div>
      </mat-toolbar>
      <a class="menu-item" mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()"
        [routerLink]="[item.link]">
        {{item.label}}
      </a>
      <a mat-list-item class="menu-item menu-close" (click)="drawer.toggle()">
        Close!
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-toolbar class="toolbar">
    <mat-icon class="menu" mat-button (click)="drawer.toggle()" svgIcon="menu"></mat-icon>
    <!-- toolbar title on mobile view -->
    <span class="branding spacer center d-inline d-sm-none">
      <img [src]="logo" />
    </span>
    <!-- toolbar title on slight squeeze -->
    <span class="branding spacer center d-none d-sm-inline d-md-none">
      <img [src]="logo" /> {{ title }}
    </span>
    <!-- toolbar title on normal view-->
    <span class="branding spacer d-none d-md-inline">
      <img [src]="logo" /> {{ title }}
    </span>
  </mat-toolbar>
  <div class="router-outlet content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer content">
    <div class="row d-none d-sm-inline">
      <div class="col-sm-12 links">
        &#169;
        <span [matTooltip]="'Author'" matTooltipPosition="before" class="year">{{ year }} -&nbsp;</span>
        <br class="d-block d-sm-none">
      </div>
    </div>
    <div class="row">
      <div class="col-12 signature">
        <a class="author" href="https://www.linkedin.com/in/abhishekpal1993/" target="_blank">
          Abhishek Pal
        </a>
      </div>
    </div>
  </div>

</mat-drawer-container>